
body{
    min-height: 100%;
    min-width: 100%;
}

button{
     border: none;
}
main{
    margin-right: 40px;
    margin-top: 30px;
}
hr{
    border-color: coral;
    
}
.closebtn{
    font-size: 1.5em;
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
}
.buttonsquare{
    height: 150px;
    line-height: 150px;
    white-space: nowrap;
    text-align: center;   
}

#jobfinderbtn{
    background-color: cadetblue;
    align-content: center;
    background-repeat: no-repeat;
}

#jobfinderinfo{
    min-height: 300px;
    background-color: cadetblue;
    text-align: center;   
    color: #2741A4;
    font-size: 1em;
    margin-left: 20px;
}

#jobfinderlogo{
    max-width: 100%;
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

#platsbanken.buttonsquare{
    background-color: bisque;
    font-size: 1em;
    float: left;
}
#af_logo{
    max-width: 100%;
}

#meetup.buttonsquare{
    background-color: brown;
    font-size: 1em;
    clear: both;
    float: left;
}
#blocket.buttonsquare{
    background-color: coral;
    font-size: 1em;
}

.logocontainer{
    height: auto;
    width: auto;
     -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    margin-bottom: 20px;
}
.positiontext{
    font-family: "Verdana";
    font-size: 3vw;
    position: relative;
    vertical-align: middle;
    float: left;
    color: darkkhaki;
    font-weight: 800;
}

.updatepositionbutton{
    border:0px solid transparent;
    background-color: #fff;
    font-size: 3vw;
    color: deeppink;
    height: 100%;
    float: left;
}

span{
    vertical-align: middle;
    font-weight: 800;
}

.listcontainer{
    background-color: #fff;
    margin-top: auto;
    min-height: 500px;
    max-height: 800px;
    padding: 10px;
    overflow-y: auto;
}

thead{
    background-color: #fff;
    border-bottom: 1px solid blue;
}

tr{
   border-bottom: 1px solid blue; 
}

.jobheadline{
    font-family: "Verdana";
    color: #000;
    font-size: 2vW;
    font-weight: 800;
    width: 90%;
    float: left;
}
.jobinfobutton{
    width: 10%;
    font-size: 2vw;
}

.subtext{
    font-family: "Verdana";
    color: #000;
    font-size: 2vW;
}
pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: keep-all;
    padding: 0;
}
.jobtext{
    margin-left: 30px;
}

/*loader*/

#fountainTextG{
	width:234px;
	margin:auto;
}

.fountainTextG{
	color:rgb(0,0,0);
	font-family:Arial;
	font-size:24px;
	text-decoration:none;
	font-weight:normal;
	font-style:normal;
	float:left;
	animation-name:bounce_fountainTextG;
		-o-animation-name:bounce_fountainTextG;
		-ms-animation-name:bounce_fountainTextG;
		-webkit-animation-name:bounce_fountainTextG;
		-moz-animation-name:bounce_fountainTextG;
	animation-duration:2.09s;
		-o-animation-duration:2.09s;
		-ms-animation-duration:2.09s;
		-webkit-animation-duration:2.09s;
		-moz-animation-duration:2.09s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.5);
		-o-transform:scale(.5);
		-ms-transform:scale(.5);
		-webkit-transform:scale(.5);
		-moz-transform:scale(.5);
}#fountainTextG_1{
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}
#fountainTextG_2{
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}
#fountainTextG_3{
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}
#fountainTextG_4{
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}
#fountainTextG_5{
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}
#fountainTextG_6{
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}
#fountainTextG_7{
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}




@keyframes bounce_fountainTextG{
	0%{
		transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainTextG{
	0%{
		-o-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-o-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainTextG{
	0%{
		-ms-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-ms-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainTextG{
	0%{
		-webkit-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-webkit-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainTextG{
	0%{
		-moz-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-moz-transform:scale(.5);
		color:rgb(255,255,255);
	}
}