<main class="jobdetailsContainer col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
    <div ng-show="loading" id="fountainTextG">
        <div id="fountainTextG_1" class="fountainTextG">L</div>
        <div id="fountainTextG_2" class="fountainTextG">a</div>
        <div id="fountainTextG_3" class="fountainTextG">d</div>
        <div id="fountainTextG_4" class="fountainTextG">d</div>
        <div id="fountainTextG_5" class="fountainTextG">a</div>
        <div id="fountainTextG_6" class="fountainTextG">r</div>
    </div>
    <p class="error">{{error}}</p>
    <div ng-hide="loading">
        <button ng-click="goBack()">Tillbaka</button>
        <h1>{{headLine}}</h1>    
        <pre>
        <p>
        Antal platser: {{numberOfPositions}}
        Arbetsplats: {{workPlace}}
        Adress: {{address}}, {{city}}
        Hemsida: {{webPage}}
        Telefon: {{phone}}
        </p>
        </pre>
        <pre>
        <p class="jobtext">{{text}}</p>
        </pre>
        <pre>
        <p>
        Arbetstider: {{dailyHours}}
        Varaktighet: {{timeSpan}}
        Löneform: {{salary}}
        </p>
        </pre>
        <pre ng-show=car>
        <p>
        Krav på egen bil: Ja
        </p>
        </pre>
        <pre>
        <p>
        Skicka ansökan via webbplats: {{applicationWeb}}
        Skicka ansökan via e-post: {{applicationEmail}}
        Sista ansökningsdagen: {{lastDay}}
        Övrig information om ansökan: {{otherInfo}}
        </p>
        </pre>
    </div>
</main>
