
<!-- shows details on specific view --> 
<main class="col-xs-offset-1 col-sm-offset-1 col-md-offset-2 col-lg-offset-2">
    
    <!-- Error --> 
    <div ng-show="{{error}}" class="errorcontainer col-xs-10 col-sm-10 col-md-8 col-lg-8">
        <p class="error alert alert-danger">{{error}}</p>
    </div>
    
    <!-- Backbutton --> 
    <div ng-hide="loading" class="backbutton col-xs-10 col-sm-10 col-md-8 col-lg-8">
            <button ng-click="goBack()">Tillbaka</button>
    </div>
    
    <!-- Jobdetails --> 
    <section class="jobdetailscontainer col-xs-10 col-sm-10 col-md-8 col-lg-8" ng-hide="loading">
        <h1>{{headLine}}</h1>    
        <pre>
        <p>
        Antal platser: {{numberOfPositions}}
        Arbetsplats: {{workPlace}}
        Adress: {{address}}, {{city}}
        Hemsida: <a href="{{webPage}}" target="_blank">{{webPage}}</a>
        Telefon: {{phone}}
        </p>
        </pre>
        <pre>
        <p class="jobtext">{{text}}</p>
        </pre>
        <pre>
        <p>
        Arbetstider: {{dailyHours}}
        Varaktighet: {{timeSpan}}
        Löneform: {{salary}}
        </p>
        </pre>
        <pre ng-show=car>
        <p>
        Krav på egen bil: Ja
        </p>
        </pre>
        <pre>
        <p>
        Skicka ansökan via webbplats: <a href="{{applicationWeb}}" target="_blank">Sök här</a>
        Skicka ansökan via e-post: {{applicationEmail}}
        Sista ansökningsdag: {{lastDay | date:'yyyy-MM-dd'}}
        Övrig information om ansökan: {{otherInfo}}
        </p>
        </pre>
    </section>
</main>
