<div class="col-sm-10 col-sm-offset-1">
    <div class="col-sm-6">
        <h2>Sign up</h2>
        <input type="text" class="form-control" ng-model="registerData.username" placeholder="Välj ett användarnamn">
        <input type="password" class="form-control" ng-model="registerData.password" placeholder="Välj ett lösenord">
        <button ng-click="registerUser()">Sign-up</button>
    </div>
    
    <div class="col-sm-6">
        <h2>Login</h2>
        <input type="text" class="form-control" ng-model="loginData.username" placeholder="Användarnamn">
        <input type="password" class="form-control" ng-model="loginData.password" placeholder="Lösenord">
        <button ng-click="loginUser()">Login</button>
    </div>
</div>