<!-- Shows list of all available jobs --> 
<main class="col-xs-offset-1 col-sm-offset-1 col-md-offset-2 col-lg-offset-2">
    
    <!-- Loader --> 
     <div ng-show="loading" class="loadercontainer col-xs-10 col-sm-10 col-md-8 col-lg-8">
        <div class="loader">Laddar...</div>
    </div>
    
    <!-- Error --> 
    <div ng-show="{{error}}" class="errorcontainer col-xs-10 col-sm-10 col-md-8 col-lg-8">
        <p class="error alert alert-danger">{{error}}</p>
    </div>
    
    <!-- Backbutton --> 
    <div ng-hide="loading" class="backbutton col-xs-10 col-sm-10 col-md-8 col-lg-8">
            <button ng-click="goBack()">Tillbaka</button>
    </div>
    
    <!-- Joblist --> 
    <div ng-hide="loading" class="listcontainer col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <table class="list">
            <tr>
                <td>
                    <p id="positiontext" class="headline" ng-hide="userPosition">{{city}} {{county}}</p>
                    <button class="spanbtn" type="button" ng-click="upDatePosition()">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
                <tr ng-repeat="job in jobs" ng-bind-html-unsafe="job">
                    <td colspan="2">
                        <p class="headline">{{job.annonsrubrik}}</p>                      
                        <button class="spanbtn" type="button" ng-click="getjobDetails(job.annonsid)">
                            <span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span>
                        </button>
                        <p class="subtext">{{job.arbetsplatsnamn}}, {{job.kommunnamn}}</p>
                    </td>
                </tr>               
        </table>
    </div>
</main>