<main class="col-md-offset-3 col-lg-offset-3">
    <div ng-show="loading" class="col-xs-12 col-sm-4 col-md-3 col-lg-3" >        
        <div class="loader">Laddar...</div>
    </div>
    <div>
        <p class="error">{{error}}</p>
    </div>
    
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <button ng-click="goBack()">Tillbaka</button>
    </div>
    
    <div ng-hide="loading" class="listcontainer col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <table class="list">
            <tr>
                <td>
                    <p id="positiontext" class="headline" ng-hide="userPosition">{{city}} {{county}}</p>
                    <button class="spanbtn" type="button" ng-click="getjobDetails(job.annonsid)">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
                <tr ng-repeat="job in jobs" ng-bind-html-unsafe="job">
                    <td colspan="2">
                        <p class="headline">{{job.annonsrubrik}}</p>                      
                        <button class="spanbtn" type="button" ng-click="getjobDetails(job.annonsid)">
                            <span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span>
                        </button>
                        <p class="subtext">{{job.arbetsplatsnamn}}, {{job.kommunnamn}}</p>
                    </td>
                </tr>               
        </table>
    </div>
</main>