

<div class="col-sm-10 col-sm-offset-2 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4" ng-hide="settings">
    <div id="map"></div>
    <h1>Basic (fetch once)</h1>
    Latitude: {{location.coords.latitude}}
    <br />
    Longitude: {{location.coords.longitude}}
    <br />
    Timestamp: {{location.timestamp}}
    <h1>Advanced (fetch once)</h1>
    Latitude: {{$geolocation.position.coords.latitude}}
    <br />
    Longitude: {{$geolocation.position.coords.longitude}}
    <br />
    Timestamp: {{$geolocation.position.timestamp}}
    
    <br />
    Error: {{$geolocation.position.timestamp}}
</div>