<main class="startcontainer col-sm-offset-3 col-md-offset-4 col-lg-offset-4">
    <div ng-show="loading" class="col-xs-12 col-sm-4 col-md-3 col-lg-3" >
        <div class="loader">Laddar...</div>
    </div>
    <menu ng-hide="showInfo">
    <button id="jobfinderbtn" class="buttonsquare col-xs-12 col-sm-4 col-md-3 col-lg-3" 
            ng-click="showJobfinderInfo()"><img src="css/images/Jobfinder@2x.png" alt="logo"/></button>

    <button class="buttonsquare col-xs-12 col-sm-4 col-md-3 col-lg-3" id="platsbanken" ng-click="goToPlatsbanken()">
        <img id="af_logo" src="css/images/af_logo.svg" alt="logo"/>
    </button>

        <div class="buttonsquare col-xs-12 col-sm-4 col-md-3 col-lg-3" id="meetup">Något annat</div>
        <div class="buttonsquare col-xs-12 col-sm-4 col-md-3 col-lg-3" id="blocket">Något annat</div>
    </menu>

    <section ng-show="showInfo" class="col-xs-12 col-sm-8 col-md-6 col-lg-6" ng-show="showInfo" id="jobfinderinfo">
        
        <button class="closebtn" class="btn btn-default" ng-click="close()">
          <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        </button>
        <img id="jobfinderlogo" src="css/images/Jobfinder@2x.png" alt="logo"/> 
        <hr>
        <p>Sidan för dig som söker nya utmaningar inom Data- och ITbranschen. 
            Utifrån din position hämtar vi allt intressant som är på gång i just
            din region. Just nu har vi bara lagt in jobb från platsbanken, men
            mycket mer är på gång.<br>Lycka till!</p>
    </section>
</main>

