Options +FollowSymLinks -MultiViews
# Turn mod_rewrite on
RewriteEngine On
RewriteBase /


## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType controllers/JobDetailsController.js "access 1 month"
ExpiresByType controllers/OnlineStatusController.js "access 1 month"
ExpiresByType controllers/PlatsbankenController.js "access 1 month"
ExpiresByType controllers/StartController.js "access 1 month"
ExpiresByType services/CountyDataService.js "access 1 month"
ExpiresByType services/JobDetailsService.js "access 1 month"
ExpiresByType services/JobIdService.js "access 1 month"
ExpiresByType services/PlatsbankenService.js "access 1 month"
ExpiresByType services/SessionStorageService.js "access 1 month"
ExpiresByType css/images/af_logo.svg "access 1 month"
ExpiresByType css/images/Jobfinder@2x.png "access 1 month"
ExpiresByType css/images/cotton-fabric-rough.jpg "access 1 month"
ExpiresByType css/styles.css "access 1 month"
ExpiresByType files/counties.json "access 1 month"
ExpiresDefault "access 1 month"
</IfModule>
## EXPIRES CACHING ##

<IfModule mod_deflate.c>
    <filesMatch "\.(js|css|html|php)$">
        SetOutputFilter DEFLATE
    </filesMatch>
</IfModule>













