<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Jobfinder</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!-- bower:css -->
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
		<!-- endbower -->
        <!-- inject:css -->
        <link rel="stylesheet" href="/css/style.css">
        <!-- endinject -->
        
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

	</head>
	<body>
        <header>
            <a href="/Settings" id="settingsBtn" ><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
        </header>
       <%- body %>
	<!-- script references -->
        <!-- bower:js -->
        <script src="/lib/jquery/dist/jquery.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
        <!-- endbower -->
        
        <!-- inject:js -->
        <script src="/js/main.js"></script>
        <script src="/js/settings.js"></script>
        <!-- endinject -->
    
	</body>
</html>