<div id=welcomewrapper></div>
<h1 id="welcomeheader">Hej! Första gången du är här?</h1>
<p id="welcometext">Gör några snabba val under inställningar så ska vi lista alla lediga jobb i på de platser och i de branscher du är intressad av. Lycka till med jobbsökandet!</p>
<a href="/Settings"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>